doctype html
html
  head
    title Courriel
    link(rel='stylesheet', href='/css/style.css')
  body
    #tableau.tableau
    #header
      #header.header
      h1  
      a(href='#')
        img(src='../../images/uqo.png')
      h2 Projet courriel
      #body.header
      br
    #share-buttons
      a(href='https://www.facebook.com/Universite.Quebec.Outaouais', target='_blank')
        img(src='https://simplesharebuttons.com/images/somacro/facebook.png', alt='Facebook')
      
      a(href='https://twitter.com/uqo', target='_blank')
        img(src='https://simplesharebuttons.com/images/somacro/twitter.png', alt='Twitter')
  script(src='/js/courriel.js')
